body {
  font-family: Arial;
  background: #f4f4f4;
}

.container {
  width: 300px;
  max-width: calc(100vw - 50px);
  /* width: 50rem; */
  margin: 50px auto;
  background: white;
  padding: 20px;
}

input {
  width: calc(100% - 20px);
  margin: 5px 0;
  padding: 8px;
}

button {
  cursor: pointer;
  width: 100%;
  margin: 5px 0;
  padding: 8px;
}

ul {
  list-style-type: none;
  padding: 0 16px;
}

li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.remove-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  width: 30px;
  height: auto;
  border-radius: 50%;
  background: #ff4d4d;
  color: white;
  border: none;
}